<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.usercare.demo">

    <permission
        android:name="com.example.usercare.demo.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.example.usercare.demo.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name=".UserCareApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.usercare.demo.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name="com.usercare.faq.activities.FaqDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/UCFaqTheme">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:pathPrefix="@string/us_deep_link_faq_details"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:pathPrefix="@string/us_deep_link_faq_details"
                      android:scheme="@string/http"/>
            </intent-filter>
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/us_deep_link_faq_host"
                      android:scheme="@string/us_deep_link_usercare_scheme"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.usercare.faq.activities.FaqActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/UCFaqTheme"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:pathPrefix="@string/us_deep_link_section_faq"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:pathPrefix="@string/us_deep_link_section_faq"
                      android:scheme="@string/http"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.usercare.messaging.MessagingActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/UCMessagingTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_chat"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_chat"
                      android:scheme="@string/http"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.usercare.tickets.MyTicketsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/UCMyTicketsTheme">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_tickets"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_tickets"
                      android:scheme="@string/http"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.usercare.activities.LandingPageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_landing_page"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_landing_page"
                      android:scheme="@string/http"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.usercare.activities.VipLoungeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance">
            <intent-filter android:label="@string/uc_deep_link_intent_filter_label">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_viplounge"
                      android:scheme="@string/https"/>
                <data android:host="@string/uc_deep_link_host"
                      android:path="@string/us_deep_link_viplounge"
                      android:scheme="@string/http"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.example.usercare.demo"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.usercare.demo.gcm.GcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.example.usercare.demo.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="com.example.usercare.demo.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.usercare.events.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.usercare.demo.ActionsListener"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b938ed695b84163b5d607b7f94f5264d3ddcbd0e"/>

        <!-- AgentAI configuration -->
        <meta-data
            android:name="UC_APP_ID"
            android:value="YOUR_UC_APP_ID"/>
        <meta-data
            android:name="UC_API_KEY"
            android:value="YOUR_UC_API_KEY"/>
        <meta-data
            android:name="UC_GCM_PUSH_TOKEN"
            android:value="YOUR_GCM_TOKEN"/>
        <!-- AgentAI configuration -->

    </application>

</manifest>
